<?xml version="1.0"?>
<config>
    <modules>
        <HusseyCoding_Backorder>
            <version>1.0.3</version>
        </HusseyCoding_Backorder>
    </modules>
    <global>
        <blocks>
            <backorder>
                <class>HusseyCoding_Backorder_Block</class>
            </backorder>
        </blocks>
        <helpers>
            <backorder>
                <class>HusseyCoding_Backorder_Helper</class>
            </backorder>
        </helpers>
        <models>
            <backorder>
                <class>HusseyCoding_Backorder_Model</class>
            </backorder>
            <sales>
                <rewrite>
                    <order_item>HusseyCoding_Backorder_Model_Order_SalesItem</order_item>
                </rewrite>
            </sales>
        </models>
        <resources>
            <backorder_setup>
                <setup>
                    <module>HusseyCoding_Backorder</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </backorder_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <backorder>
                    <file>backorder.xml</file>
                </backorder>
            </updates>
        </layout>
        <routers>
            <backorder>
                <use>standard</use>
                <args>
                    <module>HusseyCoding_Backorder</module>
                    <frontName>backorder</frontName>
                </args>
            </backorder>
        </routers>
        <events>
            <controller_action_predispatch_checkout>
                <observers>
                    <frontend_controller_action_predispatch_checkout_backorder>
                        <class>backorder/observer</class>
                        <method>frontendControllerActionPredispatchCheckout</method>
                    </frontend_controller_action_predispatch_checkout_backorder>
                </observers>
            </controller_action_predispatch_checkout>
            <sales_order_place_after>
                <observers>
                    <frontend_sales_order_place_after_backorder>
                        <class>backorder/observer</class>
                        <method>frontendSalesOrderPlaceAfter</method>
                    </frontend_sales_order_place_after_backorder>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
</config>
